@-webkit-keyframes translate {
  from {
    -webkit-transform: translate(-10%, 10%);
            transform: translate(-10%, 10%);
  };
  to {
    -webkit-transform: translate(40%, 0);
            transform: translate(40%, 0);
  };
}

@keyframes translate {
  from {
    -webkit-transform: translate(-10%, 10%);
            transform: translate(-10%, 10%);
  };
  to {
    -webkit-transform: translate(40%, 0);
            transform: translate(40%, 0);
  };
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; };
  to { opacity: 1; };
}

@keyframes fadeIn {
  from { opacity: 0; };
  to { opacity: 1; };
}


.sliding_image_container {
  max-width: 100%;
  max-height: inherit;
  height: 1000px;
  position:relative;
  overflow:hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  -webkit-animation: fadeIn 0.5s linear;
          animation: fadeIn 0.5s linear;
}


.sliding_image {
  position: absolute;
  right: -20%;
  bottom: -20%;
  display: block;
  -webkit-animation: translate 28s ease-in-out;
          animation: translate 28s ease-in-out;
  /*animation-timing-function: ease-in-out;*/
  z-index: 1;
  width: 160%;
  min-height: 1000px;
}

@media only screen and (min-width: 1200px) {
  .sliding_image {
    bottom: -30%;
  }
}
