@keyframes translate {
  from {
    transform: translate(10%, -10%);
  };
  from {
    transform: translate(0, 0);
  };
}

.sliding_image_container {
  max-width: 100%;
  max-height: inherit;
  height: 1000px;
  position:relative;
  overflow:hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2)
}

.sliding_image {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  animation-name: translate;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  z-index: 1;
  width: 120%;
}
