@import "variables.css";

html, body {
  min-width: 850px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 0;
  font: 14px "trajan-sans-pro", 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #fcfcfc;
}

.containerFill {
  height: 100%;
  width: 100%;
}

.pageContent {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.pageTitle {
  margin-top: 50px;
  margin-bottom: 30px;
  margin-right: 30px;
  height: var(--header-footer-size);
  text-align: left;
  font-size: 20px;
  color: #333;
}

.pageHeader {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 30px;
  margin-left: 30px;
  height: var(--header-footer-size);
  font-size: 20px;
  color: #ddd;
}

.pageHeader a:hover {
  height: var(--header-footer-size);
  text-align: right;
  color: #444;
}

.pageHeader a {
  margin: 15px 15px 15px 15px;
  line-height: 30px;

  color: #bbb;
  font-style: normal;
  font-weight: 100;
  text-decoration: none;
}

.pageHeader a.logo {
  font-size: 34px;
  color: black;
  font-weight: 500;
}

.pageFooter {
  height: var(--header-footer-size);
  background-color: #efefef;
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  };
  to {
    opacity: 1;
  };
}

@keyframes slideInNavigation {
  from {
    width: 0%;
  };
  to {
    width: 13%;
  };
}

@keyframes slideInPage {
  from {
    width: 0%;
    padding-right: 0%;
  };
  to {
    width: 28%;
    padding-right: 2%;
  };
}

@keyframes slideOut {
  from {
    width: 88%;
    padding-left: 0%;
  };
  to {
    width: 48%;
    padding-left: 2%;
  };
}

.slideInNavigation {
  animation-name: slideInNavigation;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

.slideInPage {
  animation-name: slideInPage;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

.slideOut {
  animation-name: slideOut;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

.pageSegment p {
  padding-left: 4px;
  font-family: mr-eaves-xl-modern;
  font-style: normal;
  font-weight: 300;
}

.navigationSegment {
  padding-right: 0;
  width: 13%;
  float: left;
  text-align: left;
}

.fadeInNavigation {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

.navigationSegment ul {
  margin-top: 0;
  padding: 0;
}

.navigationSegment li {
  list-style-type: none;
}

.active a {
    border-bottom: 1px solid #dcdcdc;
}

.navigationSegment a {
  color: #888;
  text-decoration: none;
  line-height: 30px;
}

.navigationSegment a:hover {
  color: #000;
}

.pageSegment {
  padding-right: 2%;
  width: 28%;
  float: left;
  text-align: left;
}

.pageSegment p {
  color: #888;
  margin-top: 0;
  font-size: 17px;
  line-height: 30px;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  z-index: 1;
}

.pageSegment a {
  color: #888;
  border-bottom: 1px solid #DCDCDC;
  text-decoration: none;
}

.pageSegment a:hover {
  color: #333;
  border-bottom: none;
}

.imageSegment {
  padding-left: 2%;
  width: 48%;
  max-height: 30vw;
  float: left;
  z-index: 2;
}

.pageContent {
  margin-top: 150px;
}

.pageHeader, .pageContent, .pageFooter {
  position: relative;
  right: 0;
  left: 0;
}

.loadingBar {
  background-color: magenta;
  height: 3px;
  position: absolute;
  z-index: 100;
}

.headerLinks {
  float: right;
}

.birdlifeNavigationItems {
  display: block;
  margin-left: 8px;
}